.block-forms{
  margin-top: 30px;
  margin-left: 30px;
  background-color: rgb(178, 202, 248);
  border: 2px;
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 30px;
  border: 2px solid black;
 
}

.valid
{
    border-color: rgb(6, 42, 222);
    background-color: rgb(178, 212, 248);

}
.invalid
{
    border-color: rgb(0, 0, 0);
    background-color:red;
    color: white;
}
div{
  margin-top: 20px;
}